{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<div class="dashboard-container">
  <header class="top-bar">
    <h2>Dashboard</h2>
    <div>
      <p>Logged in as {{ user.name }} ({{ user.role }}): {{ user.email }}</p>
    </div>
  </header>

  <div class="dashboard-body">
    <!-- Left side of dashboard -->
    <section class="events-panel">
      <h3>Events</h3>

      {% if events %}
      <ul class="event-list">
        {% for event in events %}
        <li class="event-item">
          <h3>Event</h3>
          <h4>{{ event.title }}</h4>
          <h5>Description</h5>
          <p>{{ event.description }}</p>
          <small
            >{{ event.start_time|format_datetime }} to {{
            event.end_time|format_datetime }}</small
          >

          <form class="delete-form" id="{{ event.id }}">
            <button type="submit" class="delete-btn">Remove</button>
          </form>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="empty-msg">No events yet.</p>
      {% endif %}
    </section>

    <!-- Righe side of dashboard -->
    <aside class="sidebar">
      <nav class="sidebar-links">
        <a href="{{ url_for('new_user') }}">Add User</a>
        <a href="{{ url_for('create_event') }}">Create Event</a>

        <form action="{{ url_for('logout') }}" method="POST">
          <button class="logout-btn" type="submit">Logout</button>
        </form>
      </nav>

      <h3>Users</h3>

      {% if users %}
      <ul class="user-list">
        {% for user in users %}
        <li class="user-item">
          <span>{{ user.name }} – {{ user.role }}</span>
          <p>{{ user.email }}</p>

          <form class="delete-form" id="{{ user.id }}">
            <button type="submit" class="delete-btn">Remove</button>
          </form>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="empty-msg">No users added.</p>
      {% endif %}
    </aside>
  </div>
</div>
{% endblock %}
